In [120]:
import pandas as pd
df1 = pd.read_excel('r1.xlsx', engine='openpyxl') #error_bad_lines=False

In [121]:
df2 = pd.read_excel('r2.xlsx', engine='openpyxl')

In [122]:
df3 = pd.read_excel('mopup.xlsx', engine='openpyxl')
df3

,Allotted Quota,Allotted Institute,Course,Alloted Category,Cutoff Rank
0,All India,Acharya Harihar Post Graduate Institute of Can...,M.D. (ANAESTHESIOLOGY),ST,74458
1,All India,"ACSR GOVERNMENT MEDICAL COLLEGE,NELLORE,Opp AC...",M.D. (PAEDIATRICS),OBC,6377
2,All India,"ACSR GOVERNMENT MEDICAL COLLEGE,NELLORE,Opp AC...",M.D. (Tuberculosis and Respiratory diseases)/P...,OBC,9808
3,All India,"ACSR GOVERNMENT MEDICAL COLLEGE,NELLORE,Opp AC...",M.S. (OPHTHALMOLOGY),Open,17498
4,All India,"ACSR GOVERNMENT MEDICAL COLLEGE,NELLORE,Opp AC...",M.D. (ANAESTHESIOLOGY),Open,18969
...,...,...,...,...,...
3892,All India,VSS INSTITUTE OF MEDICAL SCIENCES AND RESEARCH...,M.D. (PHYSIOLOGY),Open,121533
3893,All India,VSS INSTITUTE OF MEDICAL SCIENCES AND RESEARCH...,M.D. (BIOCHEMISTRY),OBC,135597
3894,All India,VSS INSTITUTE OF MEDICAL SCIENCES AND RESEARCH...,M.D. (PHARMACOLOGY),ST,141458
3895,All India,VSS INSTITUTE OF MEDICAL SCIENCES AND RESEARCH...,MD/MS (Anatomy),OBC,143828
3896,All India,VSS INSTITUTE OF MEDICAL SCIENCES AND RESEARCH...,MD/MS (Anatomy),SC,153593

In [123]:
df4 = pd.read_excel('stray.xlsx', engine='openpyxl')

In [124]:
df5 = pd.read_excel('sp_stray.xlsx', engine='openpyxl')

In [125]:
# df1 = df1.rename(columns={'Cutoff Rank': 'R1'})
# df1['R2']='-'
# df1['Mop Up']='-'
# df1['Stray Vacancy']='-'
# df1['SP Stray Vacancy']='-'
# df1

In [126]:
# result = df1.groupby('Alloted Category')
# cat = set(df1['Alloted Category'])
dict_r1 = df1.to_dict('records')
dict_r2 = df2.to_dict('records')
dict_mopup = df3.to_dict('records')
dict_stray = df4.to_dict('records')
dict_sp_stray = df5.to_dict('records')

In [127]:
# course = set(df1['Course'])
# len(course)
# course
# {'Allotted Quota': 'All India',
#   'Allotted Institute': 'Lala Lajpat Rai Memorial Medical College, MEERUT,Lala Lajpat Rai Memorial Medical College, MEERUT, Uttar Pradesh, 250004',
#   'Course': 'DIP. IN DERM.  VENEREOLOGY and LEPROSY/DERMATOLOGY /VENEREOLOGY and DERMATOLOGY/LEPROSY/VENEREAL DISEASE and LEPROSY',
#   'Alloted Category': 'Open',
#   'Cutoff Rank': 14409}

In [128]:
def remove(string):
    return string.replace(" ", "")

In [129]:
df2_records_not_in_df1=[]
for row in dict_r2:
    match = False
    for row1 in dict_r1:
        if remove(row['Allotted Institute'].lower())==remove(row1['Allotted Institute'].lower()) and remove(row['Course'].lower())==remove(row1['Course'].lower()) and remove(row['Alloted Category'].lower())==remove(row1['Alloted Category'].lower()):
            match=True
    if not match:
        df2_records_not_in_df1.append(row) 
#     if row in dict_r1:
#         r1_r2_data.append(row)
# df2_records_not_in_df1
# ACSR GOVERNMENT MEDICAL COLLEGE,NELLORE,Opp AC Subbareddy Stadium Dargamitta Nellore,Andhra Pradesh,524004

In [130]:
len(df2_records_not_in_df1) #99
# df2_records_not_in_df1

99

In [131]:
df3_records_not_in_df1=[]
for row in dict_mopup:
    match = False
    for row1 in dict_r1:
        if remove(row['Allotted Institute'].lower())==remove(row1['Allotted Institute'].lower()) and remove(row['Course'].lower())==remove(row1['Course'].lower()) and remove(row['Alloted Category'].lower())==remove(row1['Alloted Category'].lower()):
            match=True
    if not match:
        df3_records_not_in_df1.append(row)

In [132]:
len(df3_records_not_in_df1) #464
# df3_records_not_in_df1

464

In [133]:
df3_records_not_in_df2=[]
for row in dict_mopup:
    match = False
    for row1 in dict_r2:
        if remove(row['Allotted Institute'].lower())==remove(row1['Allotted Institute'].lower()) and remove(row['Course'].lower())==remove(row1['Course'].lower()) and remove(row['Alloted Category'].lower())==remove(row1['Alloted Category'].lower()):
            match=True
    if not match:
        df3_records_not_in_df2.append(row)

In [134]:
len(df3_records_not_in_df2) #719

719

In [135]:
df4_records_not_in_df1=[]
for row in dict_stray:
    match = False
    for row1 in dict_r1:
        if remove(row['Allotted Institute'].lower())==remove(row1['Allotted Institute'].lower()) and remove(row['Course'].lower())==remove(row1['Course'].lower()) and remove(row['Alloted Category'].lower())==remove(row1['Alloted Category'].lower()):
            match=True
    if not match:
        df4_records_not_in_df1.append(row)

In [136]:
len(df4_records_not_in_df1) #189

189

In [137]:
df4_records_not_in_df2=[]
for row in dict_stray:
    match = False
    for row1 in dict_r2:
        if remove(row['Allotted Institute'].lower())==remove(row1['Allotted Institute'].lower()) and remove(row['Course'].lower())==remove(row1['Course'].lower()) and remove(row['Alloted Category'].lower())==remove(row1['Alloted Category'].lower()):
            match=True
    if not match:
        df4_records_not_in_df2.append(row)

In [138]:
len(df4_records_not_in_df2) #277

277

In [139]:
df4_records_not_in_mopup=[]
for row in dict_stray:
    match = False
    for row1 in dict_mopup:
        if remove(row['Allotted Institute'].lower())==remove(row1['Allotted Institute'].lower()) and remove(row['Course'].lower())==remove(row1['Course'].lower()) and remove(row['Alloted Category'].lower())==remove(row1['Alloted Category'].lower()):
            match=True
    if not match:
        df4_records_not_in_mopup.append(row)

In [140]:
len(df4_records_not_in_mopup) #75

75

In [141]:
df5_records_not_in_df1=[]
for row in dict_sp_stray:
    match = False
    for row1 in dict_r1:
        if remove(row['Allotted Institute'].lower())==remove(row1['Allotted Institute'].lower()) and remove(row['Course'].lower())==remove(row1['Course'].lower()) and remove(row['Alloted Category'].lower())==remove(row1['Alloted Category'].lower()):
            match=True
    if not match:
        df5_records_not_in_df1.append(row)

In [142]:
len(df5_records_not_in_df1) #111

111

In [143]:
df5_records_not_in_df2=[]
for row in dict_sp_stray:
    match = False
    for row1 in dict_r2:
        if remove(row['Allotted Institute'].lower())==remove(row1['Allotted Institute'].lower()) and remove(row['Course'].lower())==remove(row1['Course'].lower()) and remove(row['Alloted Category'].lower())==remove(row1['Alloted Category'].lower()):
            match=True
    if not match:
        df5_records_not_in_df2.append(row)

In [144]:
len(df5_records_not_in_df2) #118

118

In [145]:
df5_records_not_in_mopup=[]
for row in dict_sp_stray:
    match = False
    for row1 in dict_mopup:
        if remove(row['Allotted Institute'].lower())==remove(row1['Allotted Institute'].lower()) and remove(row['Course'].lower())==remove(row1['Course'].lower()) and remove(row['Alloted Category'].lower())==remove(row1['Alloted Category'].lower()):
            match=True
    if not match:
        df5_records_not_in_mopup.append(row)

In [146]:
len(df5_records_not_in_mopup) #63

63

In [147]:
df5_records_not_in_stray=[]
for row in dict_sp_stray:
    match = False
    for row1 in dict_stray:
        if remove(row['Allotted Institute'].lower())==remove(row1['Allotted Institute'].lower()) and remove(row['Course'].lower())==remove(row1['Course'].lower()) and remove(row['Alloted Category'].lower())==remove(row1['Alloted Category'].lower()):
            match=True
    if not match:
        df5_records_not_in_stray.append(row)

In [148]:
len(df5_records_not_in_stray) #70

70

In [149]:
# column = ['Allotted Quota', 'Allotted Institute', 'Course', 'Alloted Category', 'Cutoff Rank']
# final_data=[]
# temp_data = []
# for dr1 in dict_r1:
#     for dr2 in dict_r2:
#         if remove(dr1['Allotted Institute'])==remove(dr2['Allotted Institute']) and dr1['Course']==dr2['Course'] and dr1['Alloted Category']==dr2['Alloted Category']:
#             dr1['r2'] = dr2['Cutoff Rank']
#             if dr1 not in final_data:
#                 final_data.append(dr1)
#         else:
#             print("dr1....", dr1)
#             print("dr2....", dr2)
#             dr1['r2'] = '-'
#             dr2['r2'] = '-'
#             if dr1 not in final_data:
#                 final_data.append(dr1)
#             if dr2 not in final_data:
#                 final_data.append(dr2)

In [150]:
# data={}
# col = ['Allotted Quota', 'Allotted Institute', 'Course', 'Alloted Category', 'Cutoff Rank']
# for data1 in df1:
#     for c in col:
#         if data1==c:
#             data[c]=df1[data1][0]
            
# data
#7043
#5610
# len(final_data)
# final_data